[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
mysqlclient = "*"
django-cors-headers = "==3.7.0"
jsonschema = "*"
pytz = "*"
requests = "*"
gunicorn = "==20.0.4"
aiohttp = "*"
pymysql = "*"
pyyaml = "*"
pandas = "*"
openpyxl = "*"
zappa = "*"
botocore = "*"
cryptography = "==2.8"
aws-psycopg2 = "*"


[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
